[Unit]
Description=Mapnik Rendering Daemon
After=network.target auditd.service

[Service]
PrivateTmp=yes
RuntimeDirectory=renderd
RuntimeDirectoryMode=0755
ExecStart=/usr/local/bin/renderd -f -c /usr/local/etc/custom-renderd.conf
Restart=always
User=osm
Group=osm


[Install]
WantedBy=multi-user.target