[Unit]
Description=Mapnik Rendering Daemon
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/renderd -f -c /usr/local/etc/custom-renderd.conf
Restart=always
User=osm

[Install]
WantedBy=multi-user.target